<?xml version="1.0" encoding="utf-8" ?>
<BaseConfig>
    
    <!--Base configurations for the project-->

    <!--Run browser Headless? True or False-->
    <add key="isHeadless" value="True"/>

    <!--Target Browser: Chrome, Firefox, or MSEdge-->
    <add key="webBrowser" value="Firefox"/>
   
    <!--Target Enviornment (Reddit, Google, API)-->
    <add key="target_env" value="API"/>
    
</BaseConfig>